**.DS_Store
UserInterfaceState.xcuserstate
surveyApp.xcodeproj/project.xcworkspace/xcuserdata/AnnetteChen.xcuserdatad
surveyApp.xcworkspace/xcuserdata/AnnetteChen.xcuserdatad/UserInterfaceState.xcuserstate
